<template>
  <a-table :columns="columns" :data-source="data" style="color: #6C6C6C; font-weight: lighter;" :rowKey="'id'">
    <template #bodyCell="{ column, record }">
      <template v-if="column.key === 'responsible_user_id_amo'">
        <a-avatar size="small" class="avatar">
          <template #icon>
            <UserOutlined />
          </template>
        </a-avatar>
        <span style="margin-left: 5px;">
          {{ (record.responsible_user_id_amo) }}
        </span>
      </template>
      <template v-if="column.key === 'tags'">
        <span>
          <a-tag v-for="tag in record.tags" :key="tag" :color="getTagColor(tag)">
            {{ tag }}
          </a-tag>
        </span>
      </template>
      <!-- <template v-if="column.key === 'status_id_amo'">
        <span>
          <a-tag v-for="tag in record.status_id_amo" :key="'status_id_amo'" :color="getTagColor(tag)">
            {{ tag }}
          </a-tag>
        </span>
      </template> -->
    </template>
    <template #expandedRowRender="{ record }">
      <p v-for="contact in record.contactsEntityIMNAP">
        <a-avatar size="small" class="avatar" style="margin-left: 50px; ">
          <template #icon>
            <UserOutlined />
          </template>
        </a-avatar>
        {{ contact.name }}
        <span v-for="contactData in JSON.parse(contact.custom_fields)">
          <span v-if="contactData.email" class="contacts-data">
            <a :href="`mailto:${contactData.email}`">
              <MailOutlined />
            </a>
          </span>
          <span v-if="contactData.phone" class="contacts-data">
            <a :href="`tel:${contactData.phone}`">
              <PhoneOutlined />
            </a>
          </span>
        </span>
      </p>
    </template>
  </a-table>
</template> 
<script lang="ts">

import { defineComponent } from 'vue';
import { UserOutlined, MailOutlined, PhoneOutlined } from '@ant-design/icons-vue';

export default defineComponent({
  name: 'TableData',
  components: {
    UserOutlined,
    MailOutlined,
    PhoneOutlined
  },
  props: {
    data: Array,
    columns: Array,
  },
  data: () => {
    // console.log;
    return {

    }
  },
  methods: {
    getTagColor(tag: string) {
      switch (tag) {
        case "Первичный контакт":
          return 'blue'
          break;
        case "Переговоры":
          return 'yellow'
          break;
        case "Принимают решения":
          return 'orange'
          break;
        case "Согласование договора":
          return 'purple'
          break;
      }
    }
  },
}
);
</script>
<!-- childrenColumnName="contactsEntityIMNAP" -->

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.aaa {
  background-color: #42b983;
}

.bbb {
  background-color: red;
}

.avatar {
  margin-right: 7px;
  top: -2px;
}

.contacts-data {
  color: royalblue;
  margin-left: 15px;
}
</style>
