<template>

  <div class="wrapper">
    <a-input-search type="text" v-model:value="inputValue" @keyup="fetchSearchQuery" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'TableForm',

  data: () => {
    return {
      inputValue: '',
    }
  },
  methods: {
    fetchSearchQuery(): void {
      this.$emit('searchQuery', this.inputValue)
    },
  },
}
);
</script>

<style scoped>
.wrapper {
  padding: 10px 0 10px 10px;
  width: 300px;
  margin-left: auto;
}
</style>
