<template>
    <div id="app">
        <TableForm @searchQuery="searching" />
        <TableData :columns="columns" :data-source="data" :loading="isPostLoading" />
    </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import TableData from '@/components/TableData.vue'
import TableForm from '@/components/TableForm.vue'
import useTable from "./hooks/useTable";
import useForm from "./hooks/useForm";


export default defineComponent({
    name: 'App',
    components: {
        TableData,
        TableForm
    },
    data: () => {
        return {
            isPostLoading: false,
            columns: [
                { title: 'Название', dataIndex: 'name', key: 'name', fixed: true },
                { title: 'Статус', dataIndex: 'tags', key: 'tags' },
                { title: 'Ответственный', dataIndex: 'responsible_user_id_amo', key: 'responsible_user_id_amo' },
                { title: 'Дата создания', dataIndex: 'createdAt', key: 'createdAt' },
                { title: 'Бюджет', dataIndex: 'price', key: 'price' },
            ],
        }
    },
    setup(props) {
        const { data, isPostLoading, fetchingLeads } = useTable()
        const { searching } = useForm(isPostLoading, data, fetchingLeads)
        return {
            data, isPostLoading, fetchingLeads, searching
        }
    },
});
</script>
<style>
#app {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    padding: 50px;
    background-color: rgb(240, 242, 245);
}
</style>
